*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
display: flex;
justify-content: center;
width: 100%;
height: auto;
}
/*--- background ---*/
.back-piki{
  background-image: url(https://wallpapertag.com/wallpaper/full/4/9/8/6437-pokemon-wallpaper-2880x1800-for-samsung.jpg);
  background-position: center;
  position:absolute;
  z-index: -1;
  opacity: 0.2;
  width: 100%;
  height: 1800px;
}
/*--- main design ---*/
.main-page{
  display:flex;
  flex-direction: column;
  width:100%;
  align-items:center;
  margin-top:50px;
  z-index: 1;
  color:#3466AF;

}
.name input{
  margin-left:50px;
  height:25px;
  opacity: 2;
  z-index: 1;
}
.age input {
  margin-left:75px;
  height:25px;
  width:171px;
}
.email input {
  margin-left:65px;
  height:25px;
}
.info{
  display:flex;
  justify-content:space-between;

}
fieldset{
  width:800px;
  padding-bottom:25px;
  padding-top:25px;
  padding-left:25px;

}
legend{
  margin:auto;
  text-align:center;

}
select{
  width:700px;
}

.submit{
  list-style-type:none;
  width:250px;
  height:50px;
  background-color:#3f61a6;
  color:#bf9004;
  text-align:center;
  margin-bottom:50px;
  border:1px solid #bf9004;

}
/*--- fonts ---*/
.main-head{
 text-align:center;
 font-family: Cormorant;
 font-weight:700;
 font-size: 50px;
 color:#3466AF;
 padding-top: 25px;

}
.description{
 text-align:center;
 font-family: Cormorant;
 font-weight:500;
 color:#3466AF;
 font-size: 45px;
}
.page{
  font-size:30px;
  font-family:Cormorant;
  line-height:50px;
  letter-spacing:3px;
  text-transform:capitalize;
  font-weight:700;
  color:#3466AF;
}

.end-text{
padding-top:50px;
padding-bottom: 25px;
 text-align:center;
 font-family: Cormorant;
 font-weight:700;
 color:#3466AF;
 text-transform: capitalize;
}
